:root {
  --color-white: #ffffff;
  --color-light-grey: #e2e7ff;
  --color-lighter-grey: #e1e3ee;
  --color-grey: #f4f5fa;
  --color-pale-grey: #dddfed;
  --color-light-violet: #a7a2cb;
  --color-green: #23c967;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
